# PostgreSQL
DATABASE_URL=postgresql://poc_user:poc_pass@localhost:5432/poc_db
POSTGRES_USER=poc_user
POSTGRES_PASSWORD=poc_pass
POSTGRES_DB=poc_db

# Kafka
KAFKA_BROKERS=localhost:9094

# Serviços
PORT=3000
POLL_INTERVAL_MS=1000
MAX_TENTATIVAS=5
